body {
  overflow: hidden;
}

.middle-container {
  display: flex;
  justify-content: center;
}

.sidebar-left {
  width: 20.5%;
  background: url("assets/sidebar.png");
  background-size: cover;
}

.board-container {
  width: 20%;
  margin: 2% 1.7%;
}

.game-board {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.dead-zone {
  width: 19.8%;
  padding-top: 4%;
  background: url("assets/tile-dead2.png");
  background-size: 100% 100%;
  position: absolute;
  margin: 0;
}

.game-border {
  left: 48.55%;
  width: 23.2%;
  padding-top: 47.6%;
  background: url("assets/gameboard.png");
  background-size: 100% 100%;
  position: absolute;
  z-index: -1;
}

.square {
  width: 10%;
  padding-top: 10%;
  background-color: rgb(204, 204, 204);
}

.currentBlock {
  background: url("assets/tile.png");
  background-size: cover;
}

.occupied {
  background: url("assets/tile.png");
  background-size: cover;
}

.next-block {
  width: 100%;
  margin-top: 10%;
  padding-top: 18%;
}

.preview-row {
  width: 40%;
  margin: 0 auto;
}

.preview-square {
  width: 25%;
  padding-top: 25%;
  display: inline-block;
  vertical-align: top;
}

.preview-show {
  background: url("assets/tile.png");
  background-size: cover;
}

.stats {
  width: 50%;
  padding-top: 10%;
  margin: 0 auto;
  text-align: center;
  font-family: "Press Start 2P", cursive;
  font-size: 30px;
}

.game-over {
  top: 17%;
  left: 51.1%;
  width: 18%;
  padding-top: 14.6%;
  background: url("assets/game-over.png");
  background-size: cover;
  position: absolute;
}

.reset {
  top: 50%;
  left: 51.9%;
  width: 16.4%;
  padding-top: 4.2%;
  background: url("assets/reset.png");
  background-size: cover;
  position: absolute;
  cursor: pointer;
}

.title {
  top: 62%;
  left: 51.9%;
  width: 16.4%;
  padding-top: 4.2%;
  background: url("assets/title.png");
  background-size: cover;
  position: absolute;
  cursor: pointer;
}

.logo {
  top: 20%;
  left: 51.9%;
  width: 16.4%;
  padding-top: 11.6%;
  background: url("assets/logo.png");
  background-size: cover;
  position: absolute;
}

.play {
  top: 60%;
  left: 51.9%;
  width: 16.4%;
  padding-top: 5.7%;
  background: url("assets/play.png");
  background-size: cover;
  position: absolute;
  cursor: pointer;
}
